priority -40

snippet ngfilter "Angular / Filter" b
angular

.module('${1:module_name}')

.filter('${2:filter_name}', [
	${3:}
	function(${4}) {
		return function(input) {
			${5}
		};
	}
]);
endsnippet
