priority -40

snippet ngmodule "Angular / Module" b
angular

.module('${1:module_name}', [
  ${2:}
])
${3}
;
endsnippet

snippet ngconfig "Angular / Module / Config" b
.config([
  ${1}
  function(${2}) {
    ${3}
  }
])
endsnippet

snippet ngrun "Angular / Module / Run" b
.run([
  ${1}
  function(${2}) {
    ${3}
  }
])
endsnippet
